form {
    width: 90%;
    max-width: 300px;
    background-color: #F6E7D8;
    padding: 33px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

label {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    color: #874356;
    margin-bottom: 26px;
}

textarea {
    background-color: #f9fbfc;
    border: 2px solid #874356;
    border-radius: 2px;
    box-shadow: 0px 5px 50px rgba(32, 35, 41, 0.25);
    color: #874356;
    font-size: 20px;
    text-align: center;
    padding: 12px;
    height: 96px;
    width: calc(100% - 25px);
}

textarea::placeholder {
    color: #A5A5A5;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

textarea:focus {
    outline-color: #F68989;
}

.TodoForm-buttonContainer {
    margin-top: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.TodoForm-button {
    cursor: pointer;
    display: inline-block;
    font-size: 20px;
    color: #202329;
    font-weight: 400;
    width: 120px;
    height: 48px;
    border-bottom: 2px;
    border: none;
    font-family: 'Poppins', sans-serif;
}

.TodoForm-button--add {
    background: #874356;
    box-shadow: 0px 2px 10px rgba(212, 19, 154, 0.886);
    color: #F6E7D8;
  
}

.TodoForm-button--cancel {
    background: transparent;
    color: #874356;
}