body {
  margin: 0;
  padding: 0;
  background: #F6E7D8;
  color:  #C65D7B;
  font-family: 'Poppins', sans-serif;
  /* font-family: 'Monserrat', Arial, Helvetica, sans-serif; */

 
}

code {
  font-family: 'Poppins', sans-serif;
  /* font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace; */
}

#root {
  margin: 0 24px;
  position: relative;
  min-height: 100vh;
}